---
import Mail from '@icons/Mail.astro'
import AlertMessage from './AlertMessage.astro'

import { getI18N } from '@c/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class='animate-scroll mt-3 w-full' id='contact'>
  <article class='flex flex-col place-items-center'>
    <AlertMessage type='success' message={i18n.CONTACT.ALERTS.SUCCESS} divId='success' />
    <AlertMessage type='error' message={i18n.CONTACT.ALERTS.ERROR} divId='not-success' />
  </article>
  <div class='flex flex-row items-center gap-3 p-1 text-black/60 dark:text-white/60'>
    <Mail class='size-4 md:size-5' />
    <h3 class='text-md md:text-base'>{i18n.CONTACT.LABEL}</h3>
  </div>
  <form class='max-w-md' id='contactForm'>
    <div class='group relative z-0 mb-3 w-full'>
      <input
        type='text'
        autocomplete='off'
        id='floating_name'
        class='peer block w-full appearance-none border-0 border-b-2 border-gray-500 bg-transparent px-0 py-2.5 text-lg tracking-wide text-gray-500 focus:border-green-600 focus:outline-none focus:ring-0 dark:border-gray-300 dark:text-gray-100 dark:focus:border-green-400 md:text-sm'
        placeholder=' '
        required
      />
      <label
        for='floating_name'
        class='absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-base text-gray-600 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-green-600 dark:text-gray-400 dark:peer-focus:text-green-400 md:text-sm rtl:peer-focus:left-auto rtl:peer-focus:translate-x-1/4'
        >{i18n.CONTACT.INPUT_PLACEHOLDER}</label
      >
    </div>
    <div class='group relative z-0 my-9 w-full'>
      <textarea
        id='message'
        rows='4'
        class='peer block w-full resize-none rounded-lg border-2 border-gray-500 bg-transparent p-2.5 text-lg tracking-wide text-gray-500 outline-none focus:border-green-600 dark:border-gray-300 dark:text-gray-100 dark:focus:border-green-400 md:text-sm'
        placeholder={i18n.CONTACT.INPUT_PLACEHOLDER_3}></textarea>
      <label
        for='message'
        class='absolute -translate-y-40 text-base font-medium text-gray-600 duration-300 peer-focus:text-green-600 dark:text-gray-400 dark:peer-focus:text-green-400 md:-translate-y-32 md:text-sm'
        >{i18n.CONTACT.INPUT_PLACEHOLDER_2}</label
      >
    </div>
    <button
      type='submit'
      id='buttonF'
      class='-my-5 w-full rounded-lg bg-transparent px-5 py-2.5 text-center text-sm font-medium text-green-600 ring-2 ring-green-600 transition-colors hover:bg-green-600 hover:text-[#2e2e2e] focus:outline-none dark:bg-[#2e2e2e] dark:text-green-400 dark:ring-green-400 dark:hover:bg-green-400 dark:hover:text-[#2e2e2e] sm:w-auto'
      >{i18n.CONTACT.BUTTON}</button
    >
    <button
      disabled
      type='button'
      id='buttonL'
      class='-my-5 hidden w-full items-center rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-[#2e2e2e] hover:bg-green-700 dark:bg-green-400 dark:hover:bg-green-500 sm:w-auto'
    >
      <svg
        aria-hidden='true'
        role='status'
        class='animate-spin me-3 inline h-4 w-4 text-[#2e2e2e]'
        viewBox='0 0 100 101'
        fill='none'
      >
        <path
          d='M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z'
          fill='#3E3E3E'></path>
        <path
          d='M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z'
          fill='currentColor'></path>
      </svg>
      {i18n.CONTACT.BUTTONLOADING}
    </button>
  </form>
</section>

<script>
  import { showAndHideAlert, sendEmail } from '@u/CopyFunctionality'
  const success = document.querySelector('#success') as HTMLDivElement
  const notSuccess = document.querySelector('#not-success') as HTMLDivElement
  const form = document.querySelector('#contactForm') as HTMLFormElement

  form.addEventListener('submit', async (e) => {
    e.preventDefault()

    const name = (document.querySelector('#floating_name') as HTMLInputElement).value
    const message = (document.querySelector('#message') as HTMLTextAreaElement).value

    const buttonPrimary = document.querySelector('#buttonF') as HTMLButtonElement
    const buttonLoading = document.querySelector('#buttonL') as HTMLButtonElement

    buttonPrimary.classList.add('hidden')
    buttonLoading.classList.remove('hidden')

    const response = await sendEmail(name, message)

    if (!response) {
      showAndHideAlert(notSuccess)
    } else {
      showAndHideAlert(success)
    }

    ;(e.target as HTMLFormElement).reset()

    buttonLoading.classList.add('hidden')
    buttonPrimary.classList.remove('hidden')
  })
</script>
