---
import SpainFlag from '../assets/icons/flags/SPAIN.astro'
import UsaFlag from '../assets/icons/flags/USA.astro'
import ChevronIcon from '../assets/icons/Chevron.astro'

const { currentLocale = 'en', url } = Astro

const pathname = url.pathname

let restUrl: string

if (pathname.startsWith('/es')) {
  const segments = pathname.split('/').slice(2)
  restUrl = '/' + segments.join('/').replace(/\/+$/, '')
} else {
  restUrl = pathname.replace(/\/+$/, '')
}

const LOCALES: Record<string, { code: string; name: string; href: string; flag: typeof UsaFlag }> =
  {
    es: {
      code: 'es',
      href: `/es${restUrl}`,
      name: 'Español',
      flag: SpainFlag
    },
    en: {
      code: 'en',
      href: restUrl,
      name: 'English',
      flag: UsaFlag
    }
  }

const currentLocaleData = LOCALES[currentLocale]
const otherLocales = Object.values(LOCALES).filter((locale) => locale.code !== currentLocale)
const currentPath = url.pathname.replace(currentLocaleData!.href, '')
---

<div class='relative flex w-auto text-left'>
  <div
    class='group rounded bg-white/30 text-sm transition-all hover:bg-white/70 dark:bg-black/30 dark:hover:bg-black/70 md:text-base'
  >
    <button
      type='button'
      class='inline-flex w-full items-center justify-start gap-x-1 px-2 py-1'
      aria-expanded='true'
      aria-haspopup='true'
    >
      {currentLocaleData?.flag && <currentLocaleData.flag class='size-5 md:size-4' />}
      <span class='hidden md:block'>{currentLocaleData?.name}</span>
      <ChevronIcon class='duration-200 group-hover:rotate-180' />
    </button>
    <ul
      class='absolute hidden w-full pt-0.5 group-hover:block group-hover:animate-fade-in-down group-hover:animate-duration-200'
    >
      {
        otherLocales.map((locale) => (
          <li>
            <a
              class='inline-flex w-full items-center justify-start gap-x-2 whitespace-nowrap rounded bg-white/30 px-2 py-1 hover:bg-white/70 dark:bg-black/30 dark:hover:bg-black/70'
              href={`${locale.href}${currentPath}`}
            >
              <locale.flag class='size-5 md:size-4' />
              <span class='hidden md:block'>{locale.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
