---
import Code from '../assets/icons/Code.astro'
import PivotCard from './PivotCard.astro'
import { PROJECTS } from '../utils/PROJECTS.js'
---

<section class="grid w-full gap-3 mt-3 p-2" id="projects">
  <div class="flex flex-row items-center p-1 gap-3 text-white/60">
    <Code class="md:size-5 size-4" />
    <h3 class="md:text-base text-md">Latest projects</h3>
  </div>
  {
    PROJECTS.map((project) => (
      <PivotCard
        title={project.title}
        body={project.body}
        imgs={project.imgs}
        projectLink={project.projectLink}
        githubUrl={project.githubUrl}
        languages={project.languages}
      />
    ))
  }
</section>
