---
import Code from '@icons/Code.astro'
import PivotCard from './PivotCard.astro'
import { getProjects } from '@u/PROJECTS.ts'

import { getI18N } from '@c/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const PROJECTS = getProjects(currentLocale || '')
---

<div class='mt-3 grid w-full gap-3 p-2'>
  <div class='flex flex-row items-center gap-3 p-1 text-black/60 dark:text-white/60'>
    <Code class='size-4 md:size-5' />
    <h3 class='text-md md:text-base'>{i18n.PROJECTS.LABEL}</h3>
  </div>
  {
    PROJECTS.map((project) => (
      <PivotCard
        title={project.title}
        body={project.body}
        imgs={project.imgs}
        projectLink={project.projectLink}
        githubUrl={project.githubUrl}
        languages={project.languages}
      />
    ))
  }
</div>
