---
import Code from '@icons/Code.astro'
import PivotCard from './PivotCard.astro'
import { getProjects } from '@u/PROJECTS.ts'

import { getI18N } from '@c/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const PROJECTS = getProjects(currentLocale || '')
---

<div class="grid w-full gap-3 mt-3 p-2">
  <div class="flex flex-row items-center p-1 gap-3 dark:text-white/60 text-black/60">
    <Code class="md:size-5 size-4" />
    <h3 class="md:text-base text-md">{i18n.PROJECTS.LABEL}</h3>
  </div>
  {
    PROJECTS.map((project) => (
      <PivotCard
        title={project.title}
        body={project.body}
        imgs={project.imgs}
        projectLink={project.projectLink}
        githubUrl={project.githubUrl}
        languages={project.languages}
      />
    ))
  }
</div>
