---
import Yo from '@imgs/yo.webp'
import Pill from './Pill.astro'
import GitHub from '@icons/GitHub.astro'
import LinkedIn from '@icons/LinkedIn.astro'
import Send from '@icons/Send.astro'
import Copy from '@icons/Copy.astro'
import CVIcon from '@icons/CV.astro'
import AlertMessage from './AlertMessage.astro'
import At from '@icons/At.astro'

import { getI18N } from '@c/i18n'
import { unescapeHTML } from 'astro/compiler-runtime'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

let paragraph = i18n.PERSONAL_INFO.PARAGRAPH
let phrases = i18n.PERSONAL_INFO.PHRASES

for (let phrase in phrases) {
  let replacement = `<span class="${phrases[phrase as keyof typeof phrases]}">${phrase}</span>`
  paragraph = paragraph.split(phrase).join(replacement)
}

const htmlParagraph = unescapeHTML(paragraph)

const CV_EN = 'https://drive.google.com/file/d/10Mt4sCp3rd3ivFzubqjIxPtHNrTZS1_D/view?usp=sharing'
const CV_ES = 'https://drive.google.com/file/d/1_zodBIs2C0HFRyNMNljfZua4NrNessX5/view?usp=sharing'

let CVfinal = currentLocale === 'en' ? CV_EN : CV_ES
---

<div class='grid w-full grid-cols-1 gap-4 p-1 text-left text-black dark:text-white md:grid-cols-2'>
  <div class='flex flex-col justify-between'>
    <div class='flex flex-col gap-2'>
      <h1 class='text-2xl md:text-3xl'>{i18n.PERSONAL_INFO.GREETING}</h1>
      <a
        href='https://www.linkedin.com/in/rosendoo-garcia'
        target='_blank'
        class='mb-2 w-max rounded-lg border border-blue-700 bg-slate-300 px-2 py-1 text-center text-xs font-medium text-blue-700 transition hover:bg-blue-800 hover:text-white md:text-sm'
      >
        {i18n.PERSONAL_INFO.PILL_MESSAGE}
      </a>
    </div>
    <p class='mt-4 text-lg'>{htmlParagraph}</p>
  </div>

  <div class='m-auto flex justify-center md:justify-end'>
    <img
      src={Yo.src}
      loading='lazy'
      decoding='async'
      alt='It should be me'
      class='w-32 rounded md:w-48 md:rounded-lg'
    />
  </div>

  <nav class='m-3 flex w-full flex-wrap place-items-center justify-center gap-4 md:col-span-2'>
    <Pill href='https://github.com/Roosendo' class='cursor-pointer'>
      <GitHub class='size-4 text-emerald-600 dark:text-emerald-400 md:size-5' />
      <span class='text-sm dark:text-white/80 md:text-base'>GitHub</span>
    </Pill>
    <Pill href='https://www.linkedin.com/in/rosendoo-garcia' class='cursor-pointer'>
      <LinkedIn class='size-4 text-emerald-600 dark:text-emerald-400 md:size-5' />
      <span class='text-sm dark:text-white/80 md:text-base'>LinkedIn</span>
    </Pill>
    <Pill href={CVfinal} class='cursor-pointer'>
      <CVIcon class='size-4 text-emerald-600 dark:text-emerald-400 md:size-5' />
      <span class='text-sm dark:text-white/80 md:text-base'>CV</span>
    </Pill>
  </nav>

  <AlertMessage type='success' message={i18n.PERSONAL_INFO.ALERTS.SUCCESS} divId='alert-ok' />
  <AlertMessage type='error' message={i18n.PERSONAL_INFO.ALERTS.ERROR} divId='alert-no' />

  <div
    class='mb-1 mt-3 flex w-full flex-row items-center gap-3 text-black dark:text-white md:col-span-2'
  >
    <div class='flex items-center gap-2'>
      <At class='size-4 md:size-5' />
      <h2 class='text-md md:text-base'>{i18n.PERSONAL_INFO.EMAIL}</h2>
    </div>
  </div>

  <div class='mr-auto flex w-full justify-center gap-4 md:col-span-2 md:w-auto'>
    <div
      class='inline-flex w-full justify-center rounded-md shadow-sm md:w-auto'
      role='group'
      id='container'
    >
      <div
        class='inline-flex items-center rounded-s-lg border border-gray-400 bg-transparent px-3 py-2 text-black dark:border-gray-200 dark:text-white'
      >
        <p class='text-xs md:text-base'>rosendo.garcia73@outlook.com</p>
      </div>
      <a
        href='mailto:rosendo.garcia73@outlook.com'
        class='inline-flex items-center gap-1 border border-gray-400 bg-white/80 px-2 py-1 text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700 dark:border-gray-200 md:px-3 md:py-2'
      >
        <Send class='size-4 text-[#2e2e2e] md:size-5' /><span class='sr-only'>Send an email</span>
      </a>
      <button
        type='button'
        id='to-copy'
        aria-label='Button to copy the email'
        class='inline-flex items-center gap-1 rounded-e-lg border border-gray-400 bg-white/80 px-2 py-1 text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700 dark:border-gray-200 md:px-3 md:py-2'
      >
        <Copy class='size-4 text-[#2e2e2e] md:size-5' />
      </button>
    </div>
  </div>
</div>

<script>
  import { copyToClipboard, showAndHideAlert } from '@u/CopyFunctionality'

  const container = document.querySelector('#container') as HTMLDivElement

  if (container) {
    container.addEventListener('click', async () => {
      const button = document.querySelector('#to-copy') as HTMLButtonElement
      if (button) {
        const email = 'rosendo.garcia73@outlook.com'
        const successfull = copyToClipboard(email)

        const alertElement = successfull
          ? (document.querySelector('#alert-ok') as HTMLDivElement)
          : (document.querySelector('#alert-no') as HTMLDivElement)

        if (alertElement) {
          showAndHideAlert(alertElement)
        } else {
          console.error('Something went wrong')
        }
      }
    })
  } else {
    console.error('Container not found')
  }
</script>
