---
const { title, body, hasImgs, imgs, hasPrjt, projectLink, githubUrl, languages } = Astro.props

import Pill from './Pill.astro'
---

<section class="flex flex-col gap-4">
  <h2 class="md:text-2xl text-xl text-yellow-200">{title}</h2>
  <p class="md:text-lg text-base text-white">{body}</p>
  <div class="flex flex-row flex-wrap gap-2">
    {
      languages.map((lang: string) => (
        <Pill class="cursor-default"><span class="text-violet-500 md:text-base text-sm">{lang}</span></Pill>
      ))
    }
  </div>
  {
    hasImgs && (
      <div>
        {imgs.map((img: string, index: number) => (
          <img src={img} alt={`Screenshot ${index + 1}`} loading="lazy" class="w-full h-auto rounded-lg" />
        ))}
      </div>
    )
  }
  <div class="flex flex-row w-full justify-evenly gap-1">
    {hasPrjt && <Pill href={projectLink} class="cursor-pointer"><span class="text-white md:text-base text-sm">See project</span></Pill>}
    <Pill href={githubUrl} class="cursor-pointer"><span class="text-white md:text-base text-sm">See GitHub</span></Pill>
  </div>
</section>
