---
import { getI18N } from '@c/i18n'
import { SKILLS } from '@u/SKILLS'
import Carousel from './Carousel'
import Fire from '@icons/Fire.astro'
import GitHub from '@icons/GitHub.astro'
import Pill from './Pill.astro'

interface Props {
  title: string
  body: string
  imgs: string[]
  projectLink: string
  githubUrl: string
  languages: string[]
}

const { title, body, imgs, projectLink, githubUrl, languages } = Astro.props

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class='animate-scroll mb-3 flex flex-col gap-3 prose prose-invert' id='projects'>
  <h2 class='text-xl text-[#cc00cc] dark:text-[#eea5ee] md:text-2xl'>
    {title}
  </h2>
  <p class='text-base text-black dark:text-white md:text-lg'>{body}</p>
  <div class='flex flex-row flex-wrap gap-3'>
    {
      languages.map((lang) => {
        const skill = SKILLS.find((skill) => skill.name === lang)

        return (
          <Pill class='cursor-default'>
            {skill && <skill.icon class='size-4 md:size-5' />}
            <span class='text-sm text-black/80 dark:text-white/80 md:text-base'>{lang}</span>
          </Pill>
        )
      })
    }
  </div>
  {
    imgs && (
      <div class='flex w-full flex-col place-items-center'>
        <div class='relative'>
          <div class='rounded'>
            <Carousel slides={imgs} autoSlide={true} client:visible />
          </div>
        </div>
      </div>
    )
  }
  <div class='flex w-full flex-row justify-evenly gap-3'>
    {
      projectLink && (
        <Pill href={projectLink} class='cursor-pointer'>
          <Fire class='size-4 md:size-5' />
          <span class='text-sm text-black dark:text-white md:text-base'>
            {i18n.PROJECTS.BUTTONS.LIVE}
          </span>
        </Pill>
      )
    }
    <Pill href={githubUrl} class='cursor-pointer'>
      <GitHub class='size-4 md:size-5' />
      <span class='text-sm text-black dark:text-white md:text-base'
      >{i18n.PROJECTS.BUTTONS.GITHUB}</span
      >
    </Pill>
  </div>
</section>
