---
const { title, body, hasImgs, imgs, hasPrjt, projectLink, githubUrl } = Astro.props
---

<section>
  <h2>{title}</h2>
  <p>{body}</p>
  {hasImgs && (
    <div class='modalImgs'>
      {imgs.map((img, index) => (
        <img src={img} alt={`Screenshot ${index + 1}`} />
      ))}
    </div>
  )}
  <div class='modalAnchor'>
    {hasPrjt && <a href={projectLink} target='_blank'>See project</a>}
    <a href={githubUrl} target='_blank'>See GitHub</a>
  </div>
</section>