---
const { title, body, hasImgs, imgs, hasPrjt, projectLink, githubUrl } = Astro.props
---

<section>
  {
    hasImgs && (
      <div class='modalImgs'>
        {imgs.map((img: string, index: number) => (
          <img src={img} alt={`Screenshot ${index + 1}`} loading="lazy" />
        ))}
      </div>
    )
  }
  <h2>{title}</h2>
  <p>{body}</p>
  <div class='modalAnchor'>
    {hasPrjt && <a href={projectLink} target='_blank'>See project</a>}
    <a href={githubUrl} target='_blank'>See GitHub</a>
  </div>
</section>
